/* table{

} */
body {
    text-align: center;
    background-color:dodgerblue;
}

td {
    width: 30px;
    height: 30px;
    font-size: large;
    
}

/* board-game:active {
    background-color: blue;
} */

.hide-board-cell {
    background-color: darkgray;
}

.show-board-cell {
    background-color: rgb(226, 224, 220);
}

table {
    margin: auto;
}

button {
    width: 150px;
    height: 50px;
    margin: auto;
    margin-left: 10px;
    font-size: large;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

img {
    width: 50px;
    height: 50px;
}

.smiley {
    margin-top: 40px;
    
}

.lives-left {
    color: red;
}

.undo {
    background-color: orange;
}

.Mega-Hint {
    background-color: cornflowerblue
}

.Safe-Click {
    background-color: rgb(8, 59, 154);
}

.Seven-Boom {
    background-color: rgb(214, 231, 36)
}

.Exterminator {
    background-color: greenyellow;
}

.manually-create {
    background-color: blueviolet;
}

.Safe-Click-div {
    padding-right: 320px;
}

.hints img {
    width: 30px;
    height: 30px;
}

.score-div,
.time-div,
.hints-div,
.lives-div,
h2 {
    display: inline;
    margin-left: 15px;
}

.Dark-Mode-buttom {
    background-color: gold;

}

.Dark-Mode {
    background-color: black;
    color: aliceblue;
}

